body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: darkslategray;
}

h1 {
    color: darkslateblue;
    padding: 20px;
}
h3 {
    color: darkslateblue;
    padding: 0px 20px;
    font-size: 1.2em;
}
h4 {
    color: darkslateblue;
    padding: 0px 20px;
    font-size: 1.2em;
}
h5 {
    color: darkslateblue;
    padding: 0px 20px;
    font-size: 1.2em;
}



button {
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 14x;
    border: none;
    cursor: pointer;
    width: 100%;
}

#topicsTitle {
    text-align: center;
}

#theologyTopics {
    visibility: hidden;
}

#theologyTopics button {
    background-color: whitesmoke;
    color: black;
}

#ethicsTopics {
    visibility: hidden;
}

#ethicsTopics button {
    background-color: whitesmoke;
    color: black;
}

#metaphysicsTopics {
    visibility: hidden;
}

#metaphysicsTopics button {
    background-color: whitesmoke;
    color: black;
}