body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: whitesmoke;
}

#backButton {
    background-color: darksalmon;
}

button {
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#topicsTitle {
    text-align: center;
}

#theologyTopics {
    display: none;
}

#theologyTopics button {
    background-color: whitesmoke;
    color: black;
}

#ethicsTopics {
    display: none;
}

#ethicsTopics button {
    background-color: whitesmoke;
    color: black;
}

#metaphysicsTopics {
    display: none;
}

#metaphysicsTopics button {
    background-color: whitesmoke;
    color: black;
}